<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.ylq.dao.IApplyDAO">
	<resultMap id="apply_DB_Result" type="apply">
		<result column="code" property="code" />
		<result column="apply_user" property="applyUser" />
		<result column="apply_datetime" property="applyDatetime" />
		<result column="product_code" property="productCode" />
		<result column="status" property="status" />
		<result column="sx_amount" property="sxAmount" />
		<result column="approver" property="approver" />
		<result column="approve_note" property="approveNote" />
		<result column="approve_datetime" property="approveDatetime" />
		<result column="updater" property="updater" />
		<result column="update_datetime" property="updateDatetime" />
		<result column="remark" property="remark" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="productCode != null and productCode != '' ">
				AND t.product_code = #{productCode}
			</if>
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>
			<if test="applyUser != null and applyUser != '' ">
				AND t.apply_user = #{applyUser}
			</if>
			<if test="statusList != null and statusList != '' ">
				AND t.status in 
                <foreach item="item" index="index" collection="statusList" open="(" separator="," close=")">
	            	#{item}
                </foreach> 
			</if>
		</trim>
	</sql>
	<select id="select_apply" parameterType="apply" resultMap="apply_DB_Result">
		SELECT
		t.code
		,t.apply_user
		,t.apply_datetime
		,t.product_code
		,t.status
		,t.sx_amount
		,t.approver
		,t.approve_note
		,t.approve_datetime
		,t.updater
		,t.update_datetime
		,t.remark
		FROM
		t_apply t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_apply_count" parameterType="apply"
		resultType="java.lang.Long">
		SELECT count(1) FROM t_apply t
		<include refid="where_condition" />
	</select>

	<insert id="insert_apply" parameterType="apply">
		INSERT INTO
		t_apply(
		code
		,apply_user
		,apply_datetime
		,product_code
		,status
		,sx_amount
		,approver
		,approve_note
		,approve_datetime
		,updater
		,update_datetime
		,remark
		)
		VALUES(
		#{code}
		,#{applyUser}
		,#{applyDatetime}
		,#{productCode}
		,#{status}
		,#{sxAmount}
		,#{approver}
		,#{approveNote}
		,#{approveDatetime}
		,#{updater}
		,#{updateDatetime}
		,#{remark}
		)
	</insert>

	<update id="update_apply" parameterType="apply">
		UPDATE t_apply
		SET
		apply_user = #{applyUser}
		,product_code = #{productCode}
		,status = #{status}
		,sx_amount = #{sxAmount}
		,approver = #{approver}
		,approve_note = #{approveNote}
		,approve_datetime = #{approveDatetime}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	
	<update id="update_cancel" parameterType="apply">
		UPDATE t_apply
		SET
		status = #{status}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>


</mapper>