<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.ylq.dao.IApplyDAO">
	<resultMap id="apply_DB_Result" type="apply">
		<result column="code" property="code" />
		<result column="type" property="type" />
		<result column="apply_user" property="applyUser" />
		<result column="apply_datetime" property="applyDatetime" />
		<result column="apply_note" property="applyNote" />
		<result column="status" property="status" />
		<result column="credit_score" property="creditScore" />
		<result column="approver" property="approver" />
		<result column="approve_note" property="approveNote" />
		<result column="approve_datetime" property="approveDatetime" />
		<result column="cur_node" property="curNode" />
		<result column="updater" property="updater" />
		<result column="update_datetime" property="updateDatetime" />
		<result column="remark" property="remark" />
		<result column="report" property="report" />
		<result column="company_code" property="companyCode" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			
			<if test="curNode != null and curNode != '' ">
				AND t.cur_node = #{curNode}
			</if>
			<if test="type != null and type != '' ">
				AND t.type = #{type}
			</if>
			<if test="companyCode != null and companyCode != '' ">
				AND t.company_code = #{companyCode}
			</if>
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>
			<if test="applyUser != null and applyUser != '' ">
				AND t.apply_user = #{applyUser}
			</if>
			<if test="statusList != null and statusList != '' ">
				AND t.status in 
                <foreach item="item" index="index" collection="statusList" open="(" separator="," close=")">
	            	#{item}
                </foreach> 
			</if>
		</trim>
	</sql>
	<select id="select_apply" parameterType="apply" resultMap="apply_DB_Result">
		SELECT
		t.code
		,t.type
		,t.apply_user
		,t.apply_datetime
		,t.apply_note
		,t.status
		,t.credit_score
		,t.approver
		,t.approve_note
		,t.approve_datetime
		,t.cur_node
		,t.updater
		,t.update_datetime
		,t.remark
		,t.report
		,t.company_code
		FROM
		tjd_apply t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_apply_count" parameterType="apply"
		resultType="java.lang.Long">
		SELECT count(1) FROM tjd_apply t
		<include refid="where_condition" />
	</select>

	<insert id="insert_apply" parameterType="apply">
		INSERT INTO
		tjd_apply(
		code
		,type
		,apply_user
		,apply_datetime
		,product_code
		,status
		,credit_score
		,approver
		,approve_note
		,approve_datetime
		,cur_node
		,updater
		,update_datetime
		,remark
		,report
		,company_code
		)
		VALUES(
		#{code}
		,#{type}
		,#{applyUser}
		,#{applyDatetime}
		,#{productCode}
		,#{status}
		,#{creditScore}
		,#{approver}
		,#{approveNote}
		,#{approveDatetime}
		,#{curNode}
		,#{updater}
		,#{updateDatetime}
		,#{remark}
		,#{report}
		,#{companyCode}
		)
	</insert>

	<update id="update_approve" parameterType="apply">
		UPDATE tjd_apply
		SET
		status = #{status}
		,credit_score = #{creditScore}
		,approver = #{approver}
		,approve_note = #{approveNote}
		,approve_datetime = #{approveDatetime}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	
	<update id="update_toDoApprove" parameterType="apply">
		UPDATE tjd_apply
		SET
		status = #{status}
		WHERE code = #{code}
	</update>
	
	<update id="update_cancel" parameterType="apply">
		UPDATE tjd_apply
		SET
		status = #{status}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	
	<update id="update_status" parameterType="apply">
		UPDATE tjd_apply
		SET
		status = #{status}
		WHERE code = #{code}
	</update>
	
	<update id="update_resubmit" parameterType="apply">
		UPDATE tjd_apply
		SET
		status = #{status}
		,type = #{type}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	
	<update id="update_node" parameterType="apply">
		UPDATE tjd_apply
		SET
		cur_node=#{curNode}
		WHERE code=#{code}
	</update>


</mapper>