<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.ylq.dao.IBorrowDAO">
	<resultMap id="borrow_DB_Result" type="borrow">
		<result column="code" property="code" />
		<result column="apply_user" property="applyUser" />
		<result column="sign_datetime" property="signDatetime" />
		<result column="amount" property="amount" />
		<result column="duration" property="duration" />
		<result column="fk_datetime" property="fkDatetime" />
		<result column="jx_datetime" property="jxDatetime" />
		<result column="hk_datetime" property="hkDatetime" />
		<result column="real_hk_datetime" property="realHkDatetime" />
		<result column="lx_amount" property="lxAmount" />
		<result column="xs_amount" property="xsAmount" />
		<result column="gl_amount" property="glAmount" />
		<result column="fw_amount" property="fwAmount" />
		<result column="yh_amount" property="yhAmount" />
		<result column="rate1" property="rate1" />
		<result column="rate2" property="rate2" />
		<result column="yqlx_amount" property="yqlxAmount" />
		<result column="yq_days" property="yqDays" />
		<result column="status" property="status" />
		<result column="updater" property="updater" />
		<result column="update_datetime" property="updateDatetime" />
		<result column="remark" property="remark" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="applyUser != null and applyUser != '' ">
				AND t.apply_user = #{applyUser}
			</if>
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>
		</trim>
	</sql>
	<select id="select_borrow" parameterType="borrow" resultMap="borrow_DB_Result">
		SELECT
		t.code
		,t.apply_user
		,t.sign_datetime
		,t.amount
		,t.duration
		,t.fk_datetime
		,t.jx_datetime
		,t.hk_datetime
		,t.real_hk_datetime
		,t.lx_amount
		,t.xs_amount
		,t.gl_amount
		,t.fw_amount
		,t.yh_amount
		,t.rate1
		,t.rate2
		,t.yqlx_amount
		,t.yq_days
		,t.status
		,t.updater
		,t.update_datetime
		,t.remark
		FROM
		t_borrow t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_borrow_count" parameterType="borrow"
		resultType="java.lang.Long">
		SELECT count(1) FROM t_borrow t
		<include refid="where_condition" />
	</select>

	<insert id="insert_borrow" parameterType="borrow">
		INSERT INTO
		t_borrow(
		code
		,apply_user
		,sign_datetime
		,amount
		,duration
		,fk_datetime
		,jx_datetime
		,hk_datetime
		,real_hk_datetime
		,lx_amount
		,xs_amount
		,gl_amount
		,fw_amount
		,yh_amount
		,rate1
		,rate2
		,yqlx_amount
		,yq_days
		,status
		,updater
		,update_datetime
		,remark
		)
		VALUES(
		#{code}
		,#{applyUser}
		,#{signDatetime}
		,#{amount}
		,#{duration}
		,#{fkDatetime}
		,#{jxDatetime}
		,#{hkDatetime}
		,#{realHkDatetime}
		,#{lxAmount}
		,#{xsAmount}
		,#{glAmount}
		,#{fwAmount}
		,#{yhAmount}
		,#{rate1}
		,#{rate2}
		,#{yqlxAmount}
		,#{yqDays}
		,#{status}
		,#{updater}
		,#{updateDatetime}
		,#{remark}
		)
	</insert>

	<update id="update_borrow" parameterType="borrow">
		UPDATE t_borrow
		SET
		apply_user = #{applyUser}
		,sign_datetime = #{signDatetime}
		,amount = #{amount}
		,duration = #{duration}
		,fk_datetime = #{fkDatetime}
		,jx_datetime = #{jxDatetime}
		,hk_datetime = #{hkDatetime}
		,real_hk_datetime = #{realHkDatetime}
		,lx_amount = #{lxAmount}
		,xs_amount = #{xsAmount}
		,gl_amount = #{glAmount}
		,fw_amount = #{fwAmount}
		,yh_amount = #{yhAmount}
		,rate1 = #{rate1}
		,rate2 = #{rate2}
		,yqlx_amount = #{yqlxAmount}
		,yq_days = #{yqDays}
		,status = #{status}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>


</mapper>