<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.ylq.dao.IBorrowDAO">
	<resultMap id="borrow_DB_Result" type="borrow">
		<result column="code" property="code" />
		<result column="apply_user" property="applyUser" />
		<result column="sign_datetime" property="signDatetime" />
		<result column="amount" property="amount" />
		<result column="level" property="level" />
		<result column="duration" property="duration" />
		<result column="fk_datetime" property="fkDatetime" />
		<result column="jx_datetime" property="jxDatetime" />
		<result column="hk_datetime" property="hkDatetime" />
		<result column="lx_amount" property="lxAmount" />
		<result column="xs_amount" property="xsAmount" />
		<result column="gl_amount" property="glAmount" />
		<result column="fw_amount" property="fwAmount" />
		<result column="yh_amount" property="yhAmount" />
		<result column="rate1" property="rate1" />
		<result column="rate2" property="rate2" />
		<result column="yqlx_amount" property="yqlxAmount" />
		<result column="yq_days" property="yqDays" />
		<result column="total_amount" property="totalAmount" />
		<result column="real_hk_datetime" property="realHkDatetime" />
		<result column="real_hk_amount" property="realHkAmount" />
		<result column="pay_code" property="payCode" />
		<result column="pay_group" property="payGroup" />
		<result column="pay_type" property="payType" />
		<result column="status" property="status" />
		<result column="is_archive" property="isArchive" />
		<result column="approver" property="approver" />
		<result column="approve_note" property="approveNote" />
		<result column="approve_datetime" property="approveDatetime" />
		<result column="updater" property="updater" />
		<result column="update_datetime" property="updateDatetime" />
		<result column="remark" property="remark" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="codeForQuery != null and codeForQuery != '' ">
				AND t.code like "%"#{codeForQuery}"%"
			</if>
			<if test="payGroup != null and payGroup != '' ">
				AND t.pay_group = #{payGroup}
			</if>
			<if test="applyUser != null and applyUser != '' ">
				AND t.apply_user = #{applyUser}
			</if>
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>
			<if test="level != null and level != '' ">
				AND t.level = #{level}
			</if>
			<if test="isArchive != null and isArchive != '' ">
				AND t.is_archive = #{isArchive}
			</if>
			<if test="curDatetime != null and curDatetime != '' ">
				<![CDATA[AND t.hk_datetime <= #{curDatetime}]]>
			</if>
			<if test="statusList != null and statusList != '' ">
				AND t.status in 
                <foreach item="item" index="index" collection="statusList" open="(" separator="," close=")">
	            	#{item}
                </foreach> 
			</if>
		</trim>
	</sql>
	<select id="select_borrow" parameterType="borrow" resultMap="borrow_DB_Result">
		SELECT
		t.code
		,t.apply_user
		,t.sign_datetime
		,t.amount
		,t.level
		,t.duration
		,t.fk_datetime
		,t.jx_datetime
		,t.hk_datetime
		,t.lx_amount
		,t.xs_amount
		,t.gl_amount
		,t.fw_amount
		,t.yh_amount
		,t.rate1
		,t.rate2
		,t.yqlx_amount
		,t.yq_days
		,t.total_amount
		,t.real_hk_datetime
		,t.real_hk_amount
		,t.pay_code
		,t.pay_group
		,t.pay_type
		,t.status
		,t.is_archive
		,t.approver
		,t.approve_note
		,t.approve_datetime
		,t.updater
		,t.update_datetime
		,t.remark
		FROM
		t_borrow t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_borrow_count" parameterType="borrow"
		resultType="java.lang.Long">
		SELECT count(1) FROM t_borrow t
		<include refid="where_condition" />
	</select>

	<insert id="insert_borrow" parameterType="borrow">
		INSERT INTO
		t_borrow(
		code
		,apply_user
		,sign_datetime
		,amount
		,level
		,duration
		,fk_datetime
		,jx_datetime
		,hk_datetime
		,lx_amount
		,xs_amount
		,gl_amount
		,fw_amount
		,yh_amount
		,rate1
		,rate2
		,yqlx_amount
		,yq_days
		,total_amount
		,real_hk_amount
		,status
		,updater
		,update_datetime
		,remark
		)
		VALUES(
		#{code}
		,#{applyUser}
		,#{signDatetime}
		,#{amount}
		,#{level}
		,#{duration}
		,#{fkDatetime}
		,#{jxDatetime}
		,#{hkDatetime}
		,#{lxAmount}
		,#{xsAmount}
		,#{glAmount}
		,#{fwAmount}
		,#{yhAmount}
		,#{rate1}
		,#{rate2}
		,#{yqlxAmount}
		,#{yqDays}
		,#{totalAmount}
		,#{realHkAmount}
		,#{status}
		,#{updater}
		,#{updateDatetime}
		,#{remark}
		)
	</insert>

	<update id="update_approve" parameterType="borrow">
		UPDATE t_borrow
		SET
		status = #{status}
		,approver = #{approver}
		,approve_note = #{approveNote}
		,approve_datetime = #{approveDatetime}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	
	<update id="update_loan" parameterType="borrow">
		UPDATE t_borrow
		SET
		fk_datetime = #{fkDatetime}
		,jx_datetime = #{jxDatetime}
		,hk_datetime = #{hkDatetime}
		,status = #{status}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	
	<update id="update_payGroup" parameterType="borrow">
		UPDATE t_borrow
		SET
		pay_group = #{payGroup}
		WHERE code = #{code}
	</update>
	
	<update id="update_repaySuccess" parameterType="borrow">
		UPDATE t_borrow
		SET
		real_hk_datetime = #{realHkDatetime}
		,real_hk_amount = #{realHkAmount}
		,pay_code = #{payCode}
		,pay_type = #{payType}
		,status = #{status}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	
	<update id="update_confirmBad" parameterType="borrow">
		UPDATE t_borrow
		SET
		status = #{status}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>

    <update id="update_overdue" parameterType="borrow">
		UPDATE t_borrow
		SET
		status = #{status}
		,yq_days = #{yqDays}
		,yqlx_amount = #{yqlxAmount}
		,total_amount = #{totalAmount}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	
	<update id="update_archive" parameterType="borrow">
		UPDATE t_borrow
		SET
		is_archive = #{isArchive}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	


</mapper>