<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.ylq.dao.ICertificationDAO">
	<resultMap id="certification_DB_Result" type="certification">
		<result column="id" property="id" />
		<result column="user_id" property="userId" />
		<result column="certi_key" property="certiKey" />
		<result column="flag" property="flag" />
		<result column="result" property="result" />
		<result column="cer_datetime" property="cerDatetime" />
		<result column="valid_datetime" property="validDatetime" />
		<result column="ref" property="ref" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="id != null and id != '' ">
				AND t.id = #{id}
			</if>
			<if test="userId != null and userId != '' ">
				AND t.user_id = #{userId}
			</if>
			<if test="certiKey != null and certiKey != '' ">
				AND t.certi_key = #{certiKey}
			</if>
			<if test="ref != null and ref != '' ">
				AND t.ref = #{ref}
			</if>
		</trim>
	</sql>
	<select id="select_certification" parameterType="certification" resultMap="certification_DB_Result">
		SELECT
		t.id
		,t.user_id
		,t.certi_key
		,t.flag
		,t.result
		,t.cer_datetime
		,t.valid_datetime
		,t.ref
		FROM
		t_certification t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_certification_count" parameterType="certification"
		resultType="java.lang.Long">
		SELECT count(1) FROM t_certification t
		<include refid="where_condition" />
	</select>

	<insert id="insert_certification" parameterType="certification">
		INSERT INTO
		t_certification(
		user_id
		,certi_key
		,flag
		,result
		,cer_datetime
		,valid_datetime
		,ref
		)
		VALUES(
		#{userId}
		,#{certiKey}
		,#{flag}
		,#{result}
		,#{cerDatetime}
		,#{validDatetime}
		,#{ref}
		)
	</insert>

	<update id="update_certification" parameterType="certification">
		UPDATE t_certification
		SET
		flag = #{flag}
		,result = #{result}
		,cer_datetime = #{cerDatetime}
		,valid_datetime = #{validDatetime}
		,ref = #{ref}
		WHERE id = #{id}
	</update>


</mapper>