<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.ylq.dao.ICertificationDAO">
	<resultMap id="certification_DB_Result" type="certification">
		<result column="id" property="id" />
		<result column="user_id" property="userId" />
		<result column="certi_key" property="certiKey" />
		<result column="flag" property="flag" />
		<result column="result" property="result" />
		<result column="cer_datetime" property="cerDatetime" />
		<result column="valid_datetime" property="validDatetime" />
		<result column="ref" property="ref" />
		<result column="message" property="message" />
		<result column="company_code" property="companyCode" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="id != null and id != '' ">
				AND t.id = #{id}
			</if>
			<if test="flag != null and flag != '' ">
				AND t.flag = #{flag}
			</if>
			<if test="userId != null and userId != '' ">
				AND t.user_id = #{userId}
			</if>
			<if test="certiKey != null and certiKey != '' ">
				AND t.certi_key = #{certiKey}
			</if>
			<if test="result != null and result != '' ">
				AND t.result = #{result}
			</if>
			<if test="companyCode != null and companyCode != '' ">
				AND t.company_code = #{companyCode}
			</if>
			<if test="ref != null and ref != '' ">
				AND t.ref = #{ref}
			</if>
			<if test="curDatetime != null and curDatetime != '' ">
				<![CDATA[AND t.valid_datetime <= #{curDatetime}]]>
			</if>
		</trim>
	</sql>
	<select id="select_certification" parameterType="certification" resultMap="certification_DB_Result">
		SELECT
		t.id
		,t.user_id
		,t.certi_key
		,t.flag
		,t.result
		,t.cer_datetime
		,t.valid_datetime
		,t.ref
		,t.message
		,t.company_code
		FROM
		tjd_certification t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_certification_count" parameterType="certification"
		resultType="java.lang.Long">
		SELECT count(1) FROM tjd_certification t
		<include refid="where_condition" />
	</select>

	<insert id="insert_certification" parameterType="certification"  useGeneratedKeys="true" keyProperty="id">
		INSERT INTO
		tjd_certification(
		user_id
		,certi_key
		,flag
		,result
		,cer_datetime
		,valid_datetime
		,ref
		,company_code
		)
		VALUES(
		#{userId}
		,#{certiKey}
		,#{flag}
		,#{result}
		,#{cerDatetime}
		,#{validDatetime}
		,#{ref}
		,#{companyCode}
		)
	</insert>

	<update id="update_certification" parameterType="certification">
		UPDATE tjd_certification
		SET
		flag = #{flag}
		,result = #{result}
		,cer_datetime = #{cerDatetime}
		,valid_datetime = #{validDatetime}
		,ref = #{ref}
		,message=#{message}
		WHERE id = #{id}
	</update>
	
	<update id="update_flag" parameterType="certification">
		UPDATE tjd_certification
		SET
		flag = #{flag}
		WHERE id = #{id}
	</update>


</mapper>