<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.ylq.dao.IContractDAO">
	<resultMap id="contract_DB_Result" type="contract">
		<result column="code" property="code" />
		<result column="user_id" property="userId" />
		<result column="borrow_code" property="borrowCode" />
		<result column="title" property="title" />
		<result column="content" property="content" />
		
		<result column="type" property="type" />
		<result column="create_datetime" property="createDatetime" />
		<result column="remark" property="remark" />
		<result column="status" property="status" />
		<result column="update_datetime" property="updateDatetime" />
	</resultMap>
	<resultMap id="contract_list_DB_Result" type="contract">
		<result column="code" property="code" />
		<result column="user_id" property="userId" />
		<result column="borrow_code" property="borrowCode" />
		<result column="title" property="title" />
		
		<result column="type" property="type" />
		<result column="create_datetime" property="createDatetime" />
		<result column="remark" property="remark" />
		<result column="status" property="status" />
		<result column="update_datetime" property="updateDatetime" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="userId != null and userId != '' ">
				AND t.user_id = #{userId}
			</if>
			<if test="title != null and title != '' ">
				AND t.title like "%"#{title}"%"
			</if>
			<if test="borrowCode != null and borrowCode != '' ">
				AND t.borrow_code like "%"#{borrowCode}"%"
			</if>
			<if test="type != null and type != '' ">
				AND t.type = #{type}
			</if>
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>
		</trim>
	</sql>
	<select id="select_contract" parameterType="contract" resultMap="contract_DB_Result">
		SELECT
		code
		,user_id
		,borrow_code
		,title
		,content
		
		,type
		,create_datetime
		,remark
		,status
		,update_datetime
		FROM
		t_contract t 
		<include refid="where_condition" />
		ORDER BY t.code DESC
	</select>
	<select id="select_contract_list" parameterType="contract" resultMap="contract_list_DB_Result">
		SELECT
		code
		,user_id
		,borrow_code
		,title
		
		,type
		,create_datetime
		,remark
		,status
		,update_datetime
		FROM
		t_contract t 
		<include refid="where_condition" />
		ORDER BY t.create_datetime DESC
	</select>

	<select id="select_contract_count" parameterType="contract" resultType="java.lang.Long">
		SELECT count(1) FROM t_contract t 
		<include refid="where_condition" />
	</select>
	
	<insert id="insert_contract" parameterType="contract">
		INSERT INTO t_contract(
		code
		,user_id
		,borrow_code
		,title
		,content
		
		,type
		,create_datetime
		,remark
		,status
		)
		VALUES(
		#{code}
		,#{userId}
		,#{borrowCode}
		,#{title}
		,#{content}
		
		,#{type}
		,#{createDatetime}
		,#{remark}
		,#{status}
		)
	</insert>



	<update id="update_stopContract" parameterType="contract">
		UPDATE t_contract SET
		status = #{status}
		,update_datetime = #{updateDatetime}
		,remark=#{remark}
		WHERE code = #{code}
	</update>
</mapper>
