<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.ylq.dao.ICouponConditionDAO">
	<resultMap id="couponCondition_DB_Result" type="couponCondition">
		<result column="id" property="id" />
		<result column="user_id" property="userId" />
		<result column="coupon_type" property="couponType" />
		<result column="count" property="count" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="id != null and id != '' ">
				AND t.id = #{id}
			</if>
			<if test="userId != null and userId != '' ">
				AND t.user_id = #{userId}
			</if>
			<if test="couponType != null and couponType != '' ">
				AND t.coupon_type = #{couponType}
			</if>
		</trim>
	</sql>
	<select id="select_couponCondition" parameterType="couponCondition" resultMap="couponCondition_DB_Result">
		SELECT
		t.id
		,t.user_id
		,t.coupon_type
		,t.count
		FROM
		t_coupon_condition t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_couponCondition_count" parameterType="couponCondition"
		resultType="java.lang.Long">
		SELECT count(1) FROM t_coupon_condition t
		<include refid="where_condition" />
	</select>

	<insert id="insert_couponCondition" parameterType="couponCondition">
		INSERT INTO
		t_coupon_condition(
		user_id
		,coupon_type
		,count
		)
		VALUES(
		#{userId}
		,#{couponType}
		,#{count}
		)
	</insert>

	<update id="update_count" parameterType="couponCondition">
		UPDATE t_coupon_condition
		SET
		count = #{count}
		WHERE id = #{id}
	</update>


</mapper>