<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
	    <typeAlias alias="product" type="com.cdkj.ylq.domain.Product" />
	    <typeAlias alias="apply" type="com.cdkj.ylq.domain.Apply" />
	    <typeAlias alias="certification" type="com.cdkj.ylq.domain.Certification" />
	    <typeAlias alias="coupon" type="com.cdkj.ylq.domain.Coupon" />
	    <typeAlias alias="userCoupon" type="com.cdkj.ylq.domain.UserCoupon" />
	    <typeAlias alias="borrowOrder" type="com.cdkj.ylq.domain.BorrowOrder" />
	    <typeAlias alias="repayApply" type="com.cdkj.ylq.domain.RepayApply" />
	    <typeAlias alias="renewal" type="com.cdkj.ylq.domain.Renewal" />
	    <typeAlias alias="overdue" type="com.cdkj.ylq.domain.Overdue" />
	    <typeAlias alias="statistic" type="com.cdkj.ylq.domain.Statistic" />
	    
	    <typeAlias alias="sysDict" type="com.cdkj.ylq.domain.SYSDict" />
	    <typeAlias alias="sysConfig" type="com.cdkj.ylq.domain.SYSConfig" />
	    <typeAlias alias="sysUser" type="com.cdkj.ylq.domain.SYSUser" />
	    <typeAlias alias="sysMenu" type="com.cdkj.ylq.domain.SYSMenu" />
	    <typeAlias alias="sysRole" type="com.cdkj.ylq.domain.SYSRole" />
 	    <typeAlias alias="sysMenuRole" type="com.cdkj.ylq.domain.SYSMenuRole" />
 	    <typeAlias alias="way" type="com.cdkj.ylq.domain.Way" />
 	    <typeAlias alias="noticer" type="com.cdkj.ylq.domain.Noticer" />
 	    <typeAlias alias="businessMan" type="com.cdkj.ylq.domain.BusinessMan" />
 	    <typeAlias alias="stagingRule" type="com.cdkj.ylq.domain.StagingRule" />
 	    <typeAlias alias="staging" type="com.cdkj.ylq.domain.Staging" />
 	    
 	    <typeAlias alias="user" type="com.cdkj.ylq.domain.User" />
 	    <typeAlias alias="userExt" type="com.cdkj.ylq.domain.UserExt" />
 	    <typeAlias alias="cNavigate" type="com.cdkj.ylq.domain.CNavigate" />
 	    
 	    <typeAlias alias="account" type="com.cdkj.ylq.domain.Account" />
 	    <typeAlias alias="bankcard" type="com.cdkj.ylq.domain.Bankcard" />
 	    <typeAlias alias="channelBank" type="com.cdkj.ylq.domain.ChannelBank" />
 	    <typeAlias alias="charge" type="com.cdkj.ylq.domain.Charge" />
 	    <typeAlias alias="company" type="com.cdkj.ylq.domain.Company" />
 	    <typeAlias alias="jour" type="com.cdkj.ylq.domain.Jour" />
 	    <typeAlias alias="sysUser" type="com.cdkj.ylq.domain.SYSUser" />
 	    <typeAlias alias="withdraw" type="com.cdkj.ylq.domain.Withdraw" />
	</typeAliases>	
</configuration>


