<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
	    <typeAlias alias="product" type="com.cdkj.ylq.domain.Product" />
	    <typeAlias alias="apply" type="com.cdkj.ylq.domain.Apply" />
	    <typeAlias alias="certification" type="com.cdkj.ylq.domain.Certification" />
	    <typeAlias alias="coupon" type="com.cdkj.ylq.domain.Coupon" />
		
	    <typeAlias alias="sysDict" type="com.cdkj.ylq.domain.SYSDict" />
	    <typeAlias alias="sysConfig" type="com.cdkj.ylq.domain.SYSConfig" />
	</typeAliases>	
</configuration>


