<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
	    <typeAlias alias="product" type="com.cdkj.ylq.domain.Product" />
	    <typeAlias alias="apply" type="com.cdkj.ylq.domain.Apply" />
	    <typeAlias alias="certification" type="com.cdkj.ylq.domain.Certification" />
	    <typeAlias alias="coupon" type="com.cdkj.ylq.domain.Coupon" />
	    <typeAlias alias="couponCondition" type="com.cdkj.ylq.domain.CouponCondition" />
	    <typeAlias alias="userCoupon" type="com.cdkj.ylq.domain.UserCoupon" />
	    <typeAlias alias="borrow" type="com.cdkj.ylq.domain.Borrow" />
	    <typeAlias alias="repayApply" type="com.cdkj.ylq.domain.RepayApply" />
	    <typeAlias alias="renewal" type="com.cdkj.ylq.domain.Renewal" />
	    <typeAlias alias="overdue" type="com.cdkj.ylq.domain.Overdue" />
	    <typeAlias alias="contract" type="com.cdkj.ylq.domain.Contract" />
	    <typeAlias alias="statistic" type="com.cdkj.ylq.domain.Statistic" />
	    
	    <typeAlias alias="sysDict" type="com.cdkj.ylq.domain.SYSDict" />
	    <typeAlias alias="sysConfig" type="com.cdkj.ylq.domain.SYSConfig" />
	    
	    <typeAlias alias="sysMenu" type="com.cdkj.ylq.domain.SYSMenu" />
	    <typeAlias alias="sysRole" type="com.cdkj.ylq.domain.SYSRole" />
 	    <typeAlias alias="sysMenuRole" type="com.cdkj.ylq.domain.SYSMenuRole" />
 	    
 	    <typeAlias alias="user" type="com.cdkj.ylq.domain.User" />
 	    <typeAlias alias="userExt" type="com.cdkj.ylq.domain.UserExt" />
 	    <typeAlias alias="cNavigate" type="com.cdkj.ylq.domain.CNavigate" />
	</typeAliases>	
</configuration>


