<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.ylq.dao.IProductDAO">
	<resultMap id="product_DB_Result" type="product">
		<result column="code" property="code" />
		<result column="name" property="name" />
		<result column="slogan" property="slogan" />
		<result column="level" property="level" />
		<result column="amount" property="amount" />
		<result column="duration" property="duration" />
		<result column="yq_rate1" property="yqRate1" />
		<result column="yq_rate2" property="yqRate2" />
		<result column="lx_rate" property="lxRate" />
		<result column="xs_amount" property="xsAmount" />
		<result column="gl_amount" property="glAmount" />
		<result column="fw_amount" property="fwAmount" />
		<result column="status" property="status" />
		<result column="location" property="location" />
		<result column="order_no" property="orderNo" />
		<result column="color" property="color" />
		<result column="updater" property="updater" />
		<result column="update_datetime" property="updateDatetime" />
		<result column="remark" property="remark" />
		<result column="company_code" property="companyCode" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="name != null and name != '' ">
				AND t.name like "%"#{name}"%"
			</if>
			<if test="level != null and level != '' ">
				AND t.level = #{level}
			</if>
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>
			<if test="location != null and location != '' ">
				AND t.location = #{location}
			</if>
			<if test="companyCode != null and companyCode != '' ">
				AND t.company_code = #{companyCode}
			</if>
			
		</trim>
	</sql>
	<select id="select_product" parameterType="product" resultMap="product_DB_Result">
		SELECT
		t.code
		,t.name
		,t.slogan
		,t.level
		,t.amount
		,t.duration
		,t.yq_rate1
		,t.yq_rate2
		,t.lx_rate
		,t.xs_amount
		,t.gl_amount
		,t.fw_amount
		,t.status
		,t.location
		,t.order_no
		,t.color
		,t.updater
		,t.update_datetime
		,t.remark
		,t.company_code
		FROM
		tjd_product t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_product_count" parameterType="product"
		resultType="java.lang.Long">
		SELECT count(1) FROM tjd_product t
		<include refid="where_condition" />
	</select>

	<insert id="insert_product" parameterType="product">
		INSERT INTO
		tjd_product(
		code
		,name
		,slogan
		,level
		,amount
		,duration
		,yq_rate1
		,yq_rate2
		,lx_rate
		,xs_amount
		,gl_amount
		,fw_amount
		,status
		,location
		,order_no
		,color
		,updater
		,update_datetime
		,remark
		,company_code
		)
		VALUES(
		#{code}
		,#{name}
		,#{slogan}
		,#{level}
		,#{amount}
		,#{duration}
		,#{yqRate1}
		,#{yqRate2}
		,#{lxRate}
		,#{xsAmount}
		,#{glAmount}
		,#{fwAmount}
		,#{status}
		,#{location}
		,#{orderNo}
		,#{color}
		,#{updater}
		,#{updateDatetime}
		,#{remark}
		,#{companyCode}
		)
	</insert>

	<update id="update_product" parameterType="product">
		UPDATE tjd_product
		SET
		name = #{name}
		,slogan = #{slogan}
		,level = #{level}
		,amount = #{amount}
		,duration = #{duration}
		,yq_rate1 = #{yqRate1}
		,yq_rate2 = #{yqRate2}
		,lx_rate = #{lxRate}
		,xs_amount = #{xsAmount}
		,gl_amount = #{glAmount}
		,fw_amount = #{fwAmount}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	
	<update id="update_putOn" parameterType="product">
		UPDATE tjd_product
		SET
		status = #{status}
		,location = #{location}
		,order_no = #{orderNo}
		,color = #{color}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	
	<update id="update_putOff" parameterType="product">
		UPDATE tjd_product
		SET
		status = #{status}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>


</mapper>