<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.ylq.dao.ISYSRoleDAO">
	<resultMap id="sysRole_DB_Result" type="sysRole">
		<result column="code" property="code" />
		<result column="name" property="name" />
		<result column="updater" property="updater" />
		<result column="update_datetime" property="updateDatetime" />
		<result column="remark" property="remark" />
		<result column="company_code" property="companyCode" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="name != null and name != '' ">
				AND t.name = #{name}
			</if>
			<if test="updater != null and updater != '' ">
				AND t.updater = #{updater}
			</if>
			<if test="companyCode != null and companyCode != '' ">
				AND t.company_code = #{companyCode}
			</if>
		</trim>
	</sql>
	<select id="select_sysRole" parameterType="sysRole" resultMap="sysRole_DB_Result">
		SELECT
		code
		,name
		,updater
		,update_datetime
		,remark
		,company_code
		FROM
		tsys_role t
		<include refid="where_condition" />
		order by t.update_datetime desc
	</select>

	<select id="select_sysRole_count" parameterType="sysRole" resultType="java.lang.Long">
		SELECT count(1) FROM tsys_role t
		<include refid="where_condition" />
	</select>

	<insert id="insert_sysRole" parameterType="sysRole">
		INSERT INTO tsys_role(
		code
		,name
		,updater
		,update_datetime
		,remark
		,company_code
		)
		VALUES(
		#{code}
		,#{name}
		,#{updater}
		,#{updateDatetime}
		,#{remark}
		,#{companyCode}
		)
	</insert>

	<delete id="delete_sysRole" parameterType="sysRole">
		DELETE FROM tsys_role
		WHERE
		code = #{code}
	</delete>

	<update id="update_sysRole" parameterType="sysRole">
		UPDATE tsys_role SET
		name = #{name}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
</mapper>
