<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.ylq.dao.IUserCouponDAO">
	<resultMap id="userCoupon_DB_Result" type="userCoupon">
		<result column="id" property="id" />
		<result column="user_id" property="userId" />
		<result column="get_datetime" property="getDatetime" />
		<result column="type" property="type" />
		<result column="amount" property="amount" />
		<result column="start_amount" property="startAmount" />
		<result column="valid_days" property="validDays" />
		<result column="invalid_datetime" property="invalidDatetime" />
		<result column="status" property="status" />
		<result column="borrow_code" property="borrowCode" />
		<result column="updater" property="updater" />
		<result column="update_datetime" property="updateDatetime" />
		<result column="remark" property="remark" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="id != null and id != '' ">
				AND t.id = #{id}
			</if>
			<if test="userId != null and userId != '' ">
				AND t.user_id = #{userId}
			</if>
			<if test="type != null and type != '' ">
				AND t.type = #{type}
			</if>
			<choose>
				 <when test="status == '12'">
				  	AND (t.status = 1 or t.status = 2)
				 </when>
				 <when test="status != null and status != '' ">
				  	AND t.status = #{status}
				 </when>
				 <otherwise>
				  	AND 1 = 1
				 </otherwise>
			</choose>
			<if test="borrowCode != null and borrowCode != '' ">
				AND t.borrow_code = #{borrowCode}
			</if>
			<if test="productAmount != null and productAmount != '' ">
				<![CDATA[AND t.start_amount >= #{productAmount}]]>
			</if>
		</trim>
	</sql>
	<select id="select_userCoupon" parameterType="userCoupon" resultMap="userCoupon_DB_Result">
		SELECT
		t.id
		,t.user_id
		,t.get_datetime
		,t.type
		,t.amount
		,t.start_amount
		,t.valid_days
		,t.invalid_datetime
		,t.status
		,t.borrow_code
		,t.updater
		,t.update_datetime
		,t.remark
		FROM
		t_user_coupon t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_userCoupon_count" parameterType="userCoupon"
		resultType="java.lang.Long">
		SELECT count(1) FROM t_user_coupon t
		<include refid="where_condition" />
	</select>

	<insert id="insert_userCoupon" parameterType="userCoupon">
		INSERT INTO
		t_user_coupon(
		user_id
		,get_datetime
		,type
		,amount
		,start_amount
		,valid_days
		,invalid_datetime
		,status
		,updater
		,update_datetime
		,remark
		)
		VALUES(
		#{userId}
		,#{getDatetime}
		,#{type}
		,#{amount}
		,#{startAmount}
		,#{validDays}
		,#{invalidDatetime}
		,#{status}
		,#{updater}
		,#{updateDatetime}
		,#{remark}
		)
	</insert>

	<update id="update_use" parameterType="userCoupon">
		UPDATE t_user_coupon
		SET
		status = #{status}
		,borrow_code = #{borrowCode}
		WHERE id = #{id}
	</update>
	
	<update id="update_recycle" parameterType="userCoupon">
		UPDATE t_user_coupon
		SET
		status = #{status}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE id = #{id}
	</update>


</mapper>