<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.ylq.dao.IUserDAO">
	<resultMap id="user_DB_Result" type="user">
		<result column="user_id" property="userId" />
		<result column="login_name" property="loginName" />
		<result column="mobile" property="mobile" />
		<result column="email" property="email" />
		<result column="nickname" property="nickname" />
		
		<result column="photo" property="photo" />
		<result column="login_pwd_strength" property="loginPwdStrength" />	
		<result column="referee_type" property="refereeType" />
		<result column="user_referee" property="userReferee" />
		<result column="id_kind" property="idKind" />
		
		<result column="id_no" property="idNo" />
		<result column="real_name" property="realName" />
		<result column="trade_pwd_strength" property="tradePwdStrength" />
		<result column="status" property="status" />
		<result column="province" property="province" />
		
		<result column="city" property="city" />
		<result column="area" property="area" />
		<result column="address" property="address" />
		<result column="longitude" property="longitude" />
		<result column="latitude" property="latitude" />
		
		<result column="create_datetime" property="createDatetime" />
		<result column="create_ip" property="createIp" />
		<result column="create_client" property="createClient" />
		<result column="updater" property="updater" />
		<result column="update_datetime" property="updateDatetime" />
		
		<result column="remark" property="remark" />
		<result column="is_blacklist" property="isBlackList" />
		<result column="is_whitelist" property="isWhiteList" />
		<result column="is_coupon" property="isCoupon" />
		<result column="company_code" property="companyCode" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">			
			<if test="userId != null and userId != '' ">
				AND t.user_id = #{userId}
			</if>
			<if test="loginName != null and loginName != '' ">
				AND t.login_name = #{loginName}
			</if>
			<if test="loginNameForQuery != null and loginNameForQuery != '' ">
				AND t.login_name like "%"#{loginNameForQuery}"%"
			</if>
			<if test="nickname != null and nickname != '' ">
				AND t.nickname like "%"#{nickname}"%"
			</if>
			<if test="userReferee != null and userReferee != '' ">
				AND t.user_referee = #{userReferee}
			</if>
			<if test="refereeType != null and refereeType != '' ">
				AND t.referee_type = #{refereeType}
			</if>	
			<if test="mobile != null and mobile != '' ">
				AND t.mobile = #{mobile}
			</if>
			<if test="mobileForQuery != null and mobileForQuery != '' ">
				AND t.mobile like "%"#{mobileForQuery}"%"
			</if>
			<if test="idKind != null and idKind != '' ">
				AND t.id_kind = #{idKind}
			</if>
			<if test="idNo != null and idNo != '' ">
				AND t.id_no = #{idNo}
			</if>
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>
			<if test="updater != null and updater != '' ">
				AND t.updater = #{updater}
			</if>
			<if test="loginPwd != null and loginPwd != '' ">
				AND t.login_pwd = #{loginPwd}
			</if>	
			<if test="tradePwd != null and tradePwd != '' ">
				AND t.trade_pwd = #{tradePwd}
			</if>	
			<if test="createDatetimeStart != null and createDatetimeStart != '' ">
				<![CDATA[AND t.create_datetime >= #{createDatetimeStart}]]>
			</if>
			<if test="createDatetimeEnd != null and createDatetimeEnd != '' ">
				<![CDATA[AND t.create_datetime <= #{createDatetimeEnd}]]>
			</if>
			<if test="companyCode != null and companyCode != '' ">
				AND t.company_code = #{companyCode}
			</if>
			<if test="isBlackList != null and isBlackList != '' ">
				AND t.is_blacklist = #{isBlackList}
			</if>
			<if test="isWhiteList != null and isWhiteList != '' ">
				AND t.is_whitelist = #{isWhiteList}
			</if>
			<if test="isCoupon != null and isCoupon != '' ">
				AND t.is_coupon = #{isCoupon}
			</if>
		</trim>
	</sql>
	<select id="select_user" parameterType="user" resultMap="user_DB_Result">
		SELECT 
		t.user_id
		,t.login_name
		,t.mobile
		,t.email
		,t.nickname
		
		,t.photo
		,t.login_pwd_strength
		,t.referee_type
		,t.user_referee
		,t.id_kind
		
		,t.id_no
		,t.real_name
		,t.trade_pwd_strength
		,t.status
		,t.province
		
		,t.city
		,t.area
		,t.address
		,t.longitude
		,t.latitude
		
		,t.create_datetime
		,t.create_ip
		,t.create_client
		,t.updater
		,t.update_datetime
		
		,t.remark
		,t.is_blacklist
		,t.is_whitelist
		,t.is_coupon
		,t.company_code
		FROM
		tstd_user t
		<include refid="where_condition"/>
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				${order}
			</if>
		</trim>
	</select>

	<select id="select_user_count" parameterType="user" resultType="java.lang.Long">
		SELECT count(1) FROM tstd_user t 
		<include refid="where_condition"/>
	</select>

	<insert id="insert_user" parameterType="user">
		INSERT INTO tstd_user(
		user_id
		,login_name
		,mobile
		,email
		,nickname
		
		,photo
		,login_pwd
		,login_pwd_strength
		,referee_type
		,user_referee
		
		,id_kind
		,id_no
		,real_name
		,trade_pwd
		,trade_pwd_strength
		
		,status
		,province
		,city
		,area
		,address
		
		,longitude
		,latitude
		,create_datetime
		,create_ip
		,create_client
		
		,updater
		,update_datetime
		,remark
		,is_blacklist
		,is_whitelist
		,is_coupon
		,company_code
		)
		VALUES(
		#{userId}
		,#{loginName}
		,#{mobile}
		,#{email}
		,#{nickname}
		
		,#{photo}
		,#{loginPwd}
		,#{loginPwdStrength}
		,#{refereeType}
		,#{userReferee}
		
		,#{idKind}
		,#{idNo}
		,#{realName}
		,#{tradePwd}
		,#{tradePwdStrength}
		
		,#{status}
		,#{province}
		,#{city}
		,#{area}
		,#{address}
		
		,#{longitude}
		,#{latitude}
		,#{createDatetime}
		,#{createIp}
		,#{createClient}
		
		,#{updater}
		,#{updateDatetime}
		,#{remark}
		,#{isBlackList}
		,#{isWhiteList}
		,#{isCoupon}
		,#{companyCode}
		)
	</insert>
	
	<update id="update_identity" parameterType="user">
		UPDATE tstd_user
		SET
		 real_name= #{realName}
		,id_kind = #{idKind}
		,id_no = #{idNo}
		WHERE
		user_id = #{userId}	
	</update>
	
	<update id="update_real_name" parameterType="user">
		UPDATE tstd_user
		SET
		real_name= #{realName}
		WHERE
		user_id = #{userId}
	</update>
	
	
	<update id="update_trade_pwd" parameterType="user">
		UPDATE tstd_user
		SET
		 trade_pwd = #{tradePwd}
		,trade_pwd_strength = #{tradePwdStrength}
		WHERE
		user_id = #{userId}	
	</update>
	
	<update id="update_login_pwd" parameterType="user">
		UPDATE tstd_user
		SET
		 login_pwd = #{loginPwd}
		,login_pwd_strength = #{loginPwdStrength}
		WHERE
		user_id = #{userId}	
	</update>	
	
	<update id="update_mobile" parameterType="user">
		UPDATE tstd_user
		SET
		login_name = #{mobile}
		,mobile = #{mobile}
		WHERE
		user_id = #{userId}	
	</update>
	
	<update id="update_bind_mobile" parameterType="user">
		UPDATE tstd_user
		SET
		login_name = #{loginName}
		,mobile = #{mobile}
		,login_pwd = #{loginPwd}
		,login_pwd_strength = #{loginPwdStrength}
		WHERE
		user_id = #{userId}	
	</update>
	
	<update id="update_status" parameterType="user">
		UPDATE tstd_user
		SET
		status = #{status}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE
		user_id = #{userId}	
	</update>
	
	
	<update id="update_user_loginName" parameterType="user">
		UPDATE tstd_user
		SET
		 login_name = #{loginName}
		WHERE
		user_id = #{userId}	
	</update>
	
	<update id="update_user_nickname" parameterType="user">
		UPDATE tstd_user
		SET
		 nickname = #{nickname}
		WHERE
		user_id = #{userId}	
	</update>
	
	<update id="update_user_photo" parameterType="user">
		UPDATE tstd_user
		SET
		photo = #{photo}
		WHERE user_id = #{userId}
	</update>
	
	<update id="update_user" parameterType="user">
		UPDATE tstd_user
		SET
		login_name = #{loginName}
		,mobile = #{mobile}
		,id_kind = #{idKind}
		,id_no = #{idNo}
		,real_name = #{realName}
		
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		,status = #{status}
		WHERE
		user_id = #{userId}	
	</update>
	
	<update id="update_user_supple" parameterType="user">
		UPDATE tstd_user
		SET
		mobile= #{mobile}
		,real_name= #{realName}
		,id_kind = #{idKind}
		,id_no = #{idNo}
		WHERE
		user_id = #{userId}	
	</update>
	
	<update id="update_user_company" parameterType="user">
		UPDATE tstd_user
		SET
		company_code = #{companyCode}
		WHERE
		user_id = #{userId}		
	</update>
	
	<update id="update_blacklist" parameterType="user">
		UPDATE tstd_user
		SET
		is_blacklist = #{isBlackList}
		WHERE
		user_id = #{userId}		
	</update>
	
	<update id="update_whitelist" parameterType="user">
		UPDATE tstd_user
		SET
		is_whitelist = #{isWhiteList}
		WHERE
		user_id = #{userId}		
	</update>
	
	<update id="update_isCoupon" parameterType="user">
		UPDATE tstd_user
		SET
		is_counpon = #{isCoupon}
		WHERE
		user_id = #{userId}		
	</update>
	
	<update id="approve_user" parameterType="user">
		UPDATE tstd_user
		SET
		,status = #{status}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE
		user_id = #{userId}		
	</update>
</mapper>
