<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">

	
	<!-- 分页BO层注入paginableDao -->
	
	<bean id="productBO" class="com.cdkj.ylq.bo.impl.ProductBOImpl">
		<property name="paginableDAO" ref="productDAOImpl"/>
	</bean>	
	
	<bean id="applyBO" class="com.cdkj.ylq.bo.impl.ApplyBOImpl">
		<property name="paginableDAO" ref="applyDAOImpl"/>
	</bean>	
	
	<bean id="certificationBO" class="com.cdkj.ylq.bo.impl.CertificationBOImpl">
		<property name="paginableDAO" ref="certificationDAOImpl"/>
	</bean>	
	
	<bean id="couponBO" class="com.cdkj.ylq.bo.impl.CouponBOImpl">
		<property name="paginableDAO" ref="couponDAOImpl"/>
	</bean>	
	
	<bean id="couponConditionBO" class="com.cdkj.ylq.bo.impl.CouponConditionBOImpl">
		<property name="paginableDAO" ref="couponConditionDAOImpl"/>
	</bean>	
	
	<bean id="userCouponBO" class="com.cdkj.ylq.bo.impl.UserCouponBOImpl">
		<property name="paginableDAO" ref="userCouponDAOImpl"/>
	</bean>	
	
	<bean id="borrowBO" class="com.cdkj.ylq.bo.impl.BorrowBOImpl">
		<property name="paginableDAO" ref="borrowDAOImpl"/>
	</bean>	
	
	<bean id="repayApplyBO" class="com.cdkj.ylq.bo.impl.RepayApplyBOImpl">
		<property name="paginableDAO" ref="repayApplyDAOImpl"/>
	</bean>	
	
	<bean id="renewalBO" class="com.cdkj.ylq.bo.impl.RenewalBOImpl">
		<property name="paginableDAO" ref="renewalDAOImpl"/>
	</bean>	
	
	<bean id="overdueBO" class="com.cdkj.ylq.bo.impl.OverdueBOImpl">
		<property name="paginableDAO" ref="overdueDAOImpl"/>
	</bean>	
	
	<bean id="sysDictBO" class="com.cdkj.ylq.bo.impl.SYSDictBOImpl">
		<property name="paginableDAO" ref="sysDictDAOImpl"/>
	</bean>	
	
	<bean id="sysConfigBO" class="com.cdkj.ylq.bo.impl.SYSConfigBOImpl">
		<property name="paginableDAO" ref="sysConfigDAOImpl"/>
	</bean>	
	
</beans>
